version: "1"

services:
  - type: web
    name: baccarat-prediction
    env: node
    runtime: node
    plan: free
    region: singapore
    buildCommand: npm ci
    startCommand: npm start
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true